/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1.125em;/*18/16*/
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3{
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
}

h1{
    font-size: 2.441rem;
}

h2{
    font-size: 1.953rem;
}

h3{
    font-size: 1.563rem;
    margin: 2em 0 1em;
    line-height: 1em
}
h4{
    font-size: 1.25rem;
}
p{
    font-size: 1.111111rem;
    margin: 1.4em 0;
}

header{
    width:100%;
    background-color: #D42883;
    color: #FFFFFF;
}

header h1{
    margin-left:2.0832%;/*10/960*/
}

nav{
    background-color: #EF8600;
}

nav ul{
    margin:0;
    padding:0;
    list-style: none;
}

nav li{
    float:left;
}

nav a{
    display:block;
    height: 40px;
    padding: 0 20px;
    line-height: 40px;
    color: #FFF;
    text-decoration: none;
    font-size: 1.125em;
    font-family: 'Roboto Slab', serif;
    background-color: #EF8600;
}

nav a:hover, nav a.selected{
    color: #EF8600;
    background-color: #DDDDDD;
}

.wrapper{
    width: 98%;/*980/1000*/
    max-width: 1280px;
    margin: 0 auto;
}

main{
    width: 98%;/*980/1000*/
    max-width: 1280px;
    padding:1.0204081%;/*10/980*/
    background-color: #DDDDDD;
    margin: 0 auto;
}

main .inside-box{
    width: 100%;
    height:100%;
    background-color: orange;
}

main .column{
    width:31.25%;/*300/960*/
    padding: 1.0416666666%;/*10/960*/
    margin: 1.0416666666%;/*10/960*/
    background-color: #FFFFFF;
    float:left;
}

main h3{
    color: #D42883;
    font-weight: normal;
    margin: 0 0 1em;
}

main figure{
    position: relative;
    margin: 0;
    padding: 0;
}

main figcaption{
    position: absolute;
    bottom: 0;
    padding: 3.5714286%;/*10/280*/
    background-color: rgba(212, 40, 131, .75);
    color: white;
    width: 100%;
    font-size: 1rem;
}

main img{
    width:100%;
}

main .about{
    margin:1.0416666666%;/*10/960*/
}

footer{
    width:100%;
    background-color: #D42883;
    color: #FFFFFF;
}
footer p{
    text-align: right;
    margin-right:1.0416666666%;/*10/960*/
}

@media only screen and (max-width: 900px) {

    h1{
        font-size: 2.074rem;
    }

    h2{
        font-size: 1.728rem;
    }

    h3{
        font-size: 1.44rem;
        margin: 2em 0 1em;
        line-height: 1em
    }
    .wrapper{
        width: 100%;/*660/660*/
    }

    header h1{
        margin-left:2.125%;/*10/640*/
    }

    main{
        width: 100%;/*660/660*/
        padding:1.515151515%;/*10/660*/
    }

    main .column{
        width:46.875%;/*300/640*/
        margin: 1.5625%;/*10/640*/
        padding: 1.5625%;/*10/640*/
    }
    footer p{
        margin-right:1.5625%;/*10/640*/
    }

}

@media only screen and (max-width: 600px) {
    h1{
        font-size: 1.602rem;
    }

    h2{
        font-size: 1.424rem;
    }

    h3{
        font-size: 1.424rem;
        margin: 2em 0 1em;
        line-height: 1em
    }
    .wrapper{
    }

    header h1{
        margin-left:6.25%;/*20/320*/
    }

    nav li{
        float:none;
        border-bottom: 2px solid #EF8600;;
    }

    nav a{
        height: 60px;
        line-height: 60px;
        font-size: 1.266rem;
    }

    main{
        padding:2.941176470%;/*10/340*/
    }

    main .column{
        width:93.75%;/*300/320*/
        margin: 3.125%;/*10/320*/
        padding: 3.125%;/*10/320*/
    }

     footer p{
        margin-right:3.125%;/*10/320*/
    }
}















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
