#s-14860366-7d9c-4c5e-a822-270583d15fff #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-14860366-7d9c-4c5e-a822-270583d15fff #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-14860366-7d9c-4c5e-a822-270583d15fff #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-14860366-7d9c-4c5e-a822-270583d15fff #s-Ellipse_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-14860366-7d9c-4c5e-a822-270583d15fff #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-14860366-7d9c-4c5e-a822-270583d15fff #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-14860366-7d9c-4c5e-a822-270583d15fff #s-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-14860366-7d9c-4c5e-a822-270583d15fff #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-14860366-7d9c-4c5e-a822-270583d15fff #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-14860366-7d9c-4c5e-a822-270583d15fff #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-14860366-7d9c-4c5e-a822-270583d15fff #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-14860366-7d9c-4c5e-a822-270583d15fff #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-14860366-7d9c-4c5e-a822-270583d15fff #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-14860366-7d9c-4c5e-a822-270583d15fff #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-14860366-7d9c-4c5e-a822-270583d15fff #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-14860366-7d9c-4c5e-a822-270583d15fff #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-14860366-7d9c-4c5e-a822-270583d15fff #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-14860366-7d9c-4c5e-a822-270583d15fff #s-Label_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-14860366-7d9c-4c5e-a822-270583d15fff #s-Label_222 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-14860366-7d9c-4c5e-a822-270583d15fff #s-Label_224 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-14860366-7d9c-4c5e-a822-270583d15fff #s-Label_225 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-14860366-7d9c-4c5e-a822-270583d15fff #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-14860366-7d9c-4c5e-a822-270583d15fff #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-14860366-7d9c-4c5e-a822-270583d15fff #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-14860366-7d9c-4c5e-a822-270583d15fff #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-14860366-7d9c-4c5e-a822-270583d15fff #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-14860366-7d9c-4c5e-a822-270583d15fff #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-14860366-7d9c-4c5e-a822-270583d15fff #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-14860366-7d9c-4c5e-a822-270583d15fff #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-14860366-7d9c-4c5e-a822-270583d15fff > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}