#s-40a46a53-7d06-41dd-8796-f24ea69b3d6b #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40a46a53-7d06-41dd-8796-f24ea69b3d6b #s-Label_101 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40a46a53-7d06-41dd-8796-f24ea69b3d6b #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40a46a53-7d06-41dd-8796-f24ea69b3d6b #s-Label_298 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40a46a53-7d06-41dd-8796-f24ea69b3d6b #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40a46a53-7d06-41dd-8796-f24ea69b3d6b #s-Label_86 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40a46a53-7d06-41dd-8796-f24ea69b3d6b #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40a46a53-7d06-41dd-8796-f24ea69b3d6b #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40a46a53-7d06-41dd-8796-f24ea69b3d6b #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40a46a53-7d06-41dd-8796-f24ea69b3d6b #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40a46a53-7d06-41dd-8796-f24ea69b3d6b #s-Ellipse_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40a46a53-7d06-41dd-8796-f24ea69b3d6b #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40a46a53-7d06-41dd-8796-f24ea69b3d6b #s-Ellipse_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40a46a53-7d06-41dd-8796-f24ea69b3d6b #s-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40a46a53-7d06-41dd-8796-f24ea69b3d6b #s-Ellipse_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40a46a53-7d06-41dd-8796-f24ea69b3d6b #s-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40a46a53-7d06-41dd-8796-f24ea69b3d6b #s-Ellipse_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40a46a53-7d06-41dd-8796-f24ea69b3d6b #s-Rectangle_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40a46a53-7d06-41dd-8796-f24ea69b3d6b #s-Ellipse_16 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40a46a53-7d06-41dd-8796-f24ea69b3d6b #s-Rectangle_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40a46a53-7d06-41dd-8796-f24ea69b3d6b #s-Ellipse_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40a46a53-7d06-41dd-8796-f24ea69b3d6b #s-Rectangle_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40a46a53-7d06-41dd-8796-f24ea69b3d6b #s-Ellipse_18 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40a46a53-7d06-41dd-8796-f24ea69b3d6b #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40a46a53-7d06-41dd-8796-f24ea69b3d6b #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40a46a53-7d06-41dd-8796-f24ea69b3d6b #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40a46a53-7d06-41dd-8796-f24ea69b3d6b #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40a46a53-7d06-41dd-8796-f24ea69b3d6b #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40a46a53-7d06-41dd-8796-f24ea69b3d6b #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40a46a53-7d06-41dd-8796-f24ea69b3d6b #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40a46a53-7d06-41dd-8796-f24ea69b3d6b #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40a46a53-7d06-41dd-8796-f24ea69b3d6b #s-Ellipse_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40a46a53-7d06-41dd-8796-f24ea69b3d6b #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40a46a53-7d06-41dd-8796-f24ea69b3d6b #s-Label_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40a46a53-7d06-41dd-8796-f24ea69b3d6b #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-40a46a53-7d06-41dd-8796-f24ea69b3d6b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}