#s-5c98af31-4cbf-42f1-8bc8-a9492135f1a0 #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c98af31-4cbf-42f1-8bc8-a9492135f1a0 #s-Label_150 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c98af31-4cbf-42f1-8bc8-a9492135f1a0 #s-Rectangle_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c98af31-4cbf-42f1-8bc8-a9492135f1a0 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c98af31-4cbf-42f1-8bc8-a9492135f1a0 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c98af31-4cbf-42f1-8bc8-a9492135f1a0 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c98af31-4cbf-42f1-8bc8-a9492135f1a0 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c98af31-4cbf-42f1-8bc8-a9492135f1a0 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c98af31-4cbf-42f1-8bc8-a9492135f1a0 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c98af31-4cbf-42f1-8bc8-a9492135f1a0 #s-Image_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c98af31-4cbf-42f1-8bc8-a9492135f1a0 #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c98af31-4cbf-42f1-8bc8-a9492135f1a0 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c98af31-4cbf-42f1-8bc8-a9492135f1a0 #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c98af31-4cbf-42f1-8bc8-a9492135f1a0 #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c98af31-4cbf-42f1-8bc8-a9492135f1a0 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c98af31-4cbf-42f1-8bc8-a9492135f1a0 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-5c98af31-4cbf-42f1-8bc8-a9492135f1a0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}