#s-70431ece-dde3-46dd-a4ec-a55b66af6d6c #s-Rectangle_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-70431ece-dde3-46dd-a4ec-a55b66af6d6c #s-Label_150 {
  -ms-transform: rotate(270.0deg);
}
#s-70431ece-dde3-46dd-a4ec-a55b66af6d6c #s-Rectangle_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-70431ece-dde3-46dd-a4ec-a55b66af6d6c #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-70431ece-dde3-46dd-a4ec-a55b66af6d6c #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-70431ece-dde3-46dd-a4ec-a55b66af6d6c #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-70431ece-dde3-46dd-a4ec-a55b66af6d6c #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-70431ece-dde3-46dd-a4ec-a55b66af6d6c #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-70431ece-dde3-46dd-a4ec-a55b66af6d6c #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-70431ece-dde3-46dd-a4ec-a55b66af6d6c #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-70431ece-dde3-46dd-a4ec-a55b66af6d6c #s-Image_49 {
  -ms-transform: rotate(0.0deg);
}
#s-70431ece-dde3-46dd-a4ec-a55b66af6d6c #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-70431ece-dde3-46dd-a4ec-a55b66af6d6c #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-70431ece-dde3-46dd-a4ec-a55b66af6d6c #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-70431ece-dde3-46dd-a4ec-a55b66af6d6c #s-Image_31 {
  -ms-transform: rotate(0.0deg);
}
#s-70431ece-dde3-46dd-a4ec-a55b66af6d6c #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-70431ece-dde3-46dd-a4ec-a55b66af6d6c #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-70431ece-dde3-46dd-a4ec-a55b66af6d6c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}