#s-cd00ea09-759a-43ec-83ec-5039714aa346 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cd00ea09-759a-43ec-83ec-5039714aa346 #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cd00ea09-759a-43ec-83ec-5039714aa346 #s-Label_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cd00ea09-759a-43ec-83ec-5039714aa346 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cd00ea09-759a-43ec-83ec-5039714aa346 #s-Label_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cd00ea09-759a-43ec-83ec-5039714aa346 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cd00ea09-759a-43ec-83ec-5039714aa346 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cd00ea09-759a-43ec-83ec-5039714aa346 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cd00ea09-759a-43ec-83ec-5039714aa346 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cd00ea09-759a-43ec-83ec-5039714aa346 #s-Image_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=45) ;
  filter: alpha(opacity=45) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cd00ea09-759a-43ec-83ec-5039714aa346 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cd00ea09-759a-43ec-83ec-5039714aa346 #s-Label_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cd00ea09-759a-43ec-83ec-5039714aa346 #s-Label_86 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-cd00ea09-759a-43ec-83ec-5039714aa346 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}