#s-cd00ea09-759a-43ec-83ec-5039714aa346 #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-cd00ea09-759a-43ec-83ec-5039714aa346 #s-Rectangle_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-cd00ea09-759a-43ec-83ec-5039714aa346 #s-Label_52 {
  -ms-transform: rotate(0.0deg);
}
#s-cd00ea09-759a-43ec-83ec-5039714aa346 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-cd00ea09-759a-43ec-83ec-5039714aa346 #s-Label_16 {
  -ms-transform: rotate(0.0deg);
}
#s-cd00ea09-759a-43ec-83ec-5039714aa346 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-cd00ea09-759a-43ec-83ec-5039714aa346 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-cd00ea09-759a-43ec-83ec-5039714aa346 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-cd00ea09-759a-43ec-83ec-5039714aa346 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-cd00ea09-759a-43ec-83ec-5039714aa346 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=45);
  filter: alpha(opacity=45);
}
#s-cd00ea09-759a-43ec-83ec-5039714aa346 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-cd00ea09-759a-43ec-83ec-5039714aa346 #s-Label_28 {
  -ms-transform: rotate(0.0deg);
}
#s-cd00ea09-759a-43ec-83ec-5039714aa346 #s-Label_86 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-cd00ea09-759a-43ec-83ec-5039714aa346 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}